.u-section-1 {
  min-height: 691px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-line-1 {
  width: 111px;
  height: 6px;
  transform-origin: left center;
  margin: 92px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 5.4375rem;
  line-height: 1;
  font-family: MazzardH-Bold;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: BiennaleMedium;
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  letter-spacing: 0px;
  font-weight: normal;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  text-transform: uppercase;
  font-family: Inter;
  font-weight: normal;
  margin: 20px auto 0 0;
  padding: 10px 52px 10px 50px;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("images/a7cf7ae9739abfe654d4daf4e9f67404b0ef833691f9385e0b3a5f1761471cb89305f8cf592f7ee59561ab6b85b9a70e3ff080423d12153e5978da_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 614px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 614px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 536px;
    background-position: 92.74% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 411px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-top: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 60px 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 462px;
    background-position: 87% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 678px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-bottom: 2px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 75px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.625rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 578px;
    background-position: 74.09% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 464px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 23px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 65px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 364px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1018px;
}

.u-section-2 .u-list-1 {
  width: 960px;
  margin: 60px auto 48px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap: 20px 20px;
  min-height: 910px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 13px;
}

.u-section-2 .u-image-1 {
  height: 344px;
  object-position: 50% 12.56%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-family: BiennaleBold;
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 12px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  background-image: none;
  font-family: gdsherpa-vf;
  font-weight: normal;
  margin: 0 10px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 13px;
}

.u-section-2 .u-image-2 {
  height: 344px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-2 .u-text-3 {
  font-family: BiennaleBold;
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 12px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  background-image: none;
  font-family: gdsherpa-vf;
  font-weight: normal;
  margin: 0 10px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 13px;
}

.u-section-2 .u-image-3 {
  height: 344px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-family: BiennaleBold;
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 12px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  background-image: none;
  font-family: gdsherpa-vf;
  font-weight: normal;
  margin: 0 10px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 20px 13px;
}

.u-section-2 .u-image-4 {
  height: 344px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  font-family: BiennaleBold;
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 12px auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  background-image: none;
  font-family: gdsherpa-vf;
  font-weight: normal;
  margin: 0 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 891px;
  }

  .u-section-2 .u-image-1 {
    height: 337px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 337px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 337px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 337px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 533px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    height: 533px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    height: 533px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-image-4 {
    height: 533px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 408px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 408px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 408px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 408px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1601px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-1 {
    object-position: 50% 6.6%;
    height: 251px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 251px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 251px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 251px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 113px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-family: MazzardH-Bold;
  animation-duration: 1000ms;
  margin: 28px auto 28px 4px;
}.u-section-4 .u-sheet-1 {
  min-height: 1196px;
}

.u-section-4 .u-text-1 {
  line-height: 1.1;
  font-family: BiennaleLight;
  font-weight: 700;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 21px 0 0;
}

.u-section-4 .u-line-1 {
  width: 1140px;
  height: 9px;
  transform-origin: left center 0px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-4 .u-image-1 {
  width: 742px;
  height: 467px;
  animation-duration: 1000ms;
  margin: 17px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin: -467px 17px 0 780px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 21px 35px 0 auto;
}

.u-section-4 .u-icon-1 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-text-4 {
  font-family: BiennaleLight;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 271px 0 0;
}

.u-section-4 .u-line-2 {
  height: 6px;
  transform-origin: right center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-2 {
  width: 742px;
  height: 424px;
  margin: 21px auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin: -424px 0 0 780px;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 21px auto 60px 780px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-4 .u-line-1 {
    width: 940px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -226px;
    margin-right: 0;
    margin-left: 597px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 239px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 9px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-4 .u-line-2 {
    margin-top: -79px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 103px;
  }

  .u-section-4 .u-text-5 {
    width: 260px;
    margin-left: 680px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 160px;
    margin-right: 160px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 454px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 160px;
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 411px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -411px;
    margin-left: 460px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 250px;
    margin-right: 250px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 341px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -75px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 200px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -104px;
    margin-left: 250px;
  }

  .u-section-4 .u-line-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 308px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -308px;
    margin-left: 280px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1332px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-line-1 {
    width: 390px;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    width: 440px;
    height: 278px;
    margin-top: 18px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    font-family: Roboto, sans-serif;
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    font-weight: 700;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 23px;
    margin-right: 64px;
    margin-left: 0;
  }

  .u-section-4 .u-line-2 {
    transform-origin: left center 0px;
    margin-top: 0;
  }

  .u-section-4 .u-image-2 {
    width: 440px;
    height: 248px;
    margin-top: 29px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-4 .u-text-5 {
    font-family: Roboto, sans-serif;
    width: auto;
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    font-weight: 700;
    width: auto;
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 591px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 202px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  font-family: BiennaleMedium;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 270px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 200px;
  height: 75px;
  margin: 20px 310px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 471px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  font-family: BiennaleMedium;
  margin: 0 0 0 20px;
}

.u-section-5 .u-form-1 {
  height: 307px;
  width: 510px;
  margin: 11px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 167px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 210px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 388px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }

  .u-section-5 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 417px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-btn-1 {
    border-style: none;
  }
}@font-face {
  font-family: 'MazzardH-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MazzardH-Bold.otf);
}@font-face {
  font-family: 'BiennaleMedium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BiennaleMedium.otf);
}@font-face {
  font-family: 'BiennaleBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BiennaleBold.otf);
}@font-face {
  font-family: 'gdsherpa-vf';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/gdsherpa-vf.woff2);
}@font-face {
  font-family: 'BiennaleLight';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BiennaleLight.otf);
}